<html lang="en">
    {% set basename = "Swag Math Games" %}
    {% set project = "Who's That Pokémon?" %}
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- JQuery CSS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .navbar {
            position: static;
            z-index: 9999;
            }
        {% block style %}
        {% endblock %}
        </style>
    
        <title>{{ basename }} | {{ project }} </title>
    
    </head>
    <body>
        {% include "layouts/navbar.html" %}
    
        {% block body %}
        {% endblock %}
    
        <!-- Bootstrap 5.0 Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
    <head>
        <style>
        body.background {
            background-image: url('../../static/assets/whosthatpokemon/forest.jpeg');
            background-size: cover;
            background-position: center
        }
        .myDiv {
            border: 0px solid rgb(0, 0, 0);
            padding: 30px;
            background-color: #4d4d4dbe;    
            width: 60%;
            margin: auto;
            border-radius: 25px;
            height:auto;
            font-family:'Courier New', Courier, monospace
        }
        button.myButton {
            height: 100%;
            width: 100%;
            background-color:rgb(72, 71, 71);
            color:rgb(0, 154, 0); 
            border: 3px solid rgb(255, 0, 0);
            margin: auto;
            line-height: 300%;
        }
        .myTable {
            margin:auto;
            width: 70%;
            table-layout: fixed;
            color:rgb(0, 154, 0);
            background-color:rgb(72, 71, 71);
            outline: 10px solid red;
        }
        tr.pokeBox {
            background-image:url('../../static/assets/whosthatpokemon/pokemonscene.png');
            background-size: cover;
            color:white;
        }
        .buttonRowStyle {
            line-height: 500%;
        }
        .myIMG {
            height: 30%;
            width: 30%;
            display: block;
            margin: 0 auto;
        }
        </style>
    </head>
    <br>
    <body class="background">
    <div class="myDiv">
        <h1 style="color:rgb(0, 149, 255); text-align:center">Who's That Pokémon?</h1>
        <br>
        <h3 style="color:rgb(0, 149, 255)">HOW TO PLAY</h3>
            <ol type="1"> 
                <span style="color:rgb(255, 255, 0)">
                    <li>Press start</li>
                    <li>Choose generation of Pokémon (Gen 8 not yet fully supported by PokéAPI)</li>
                    <li>Submit Pokémon name with the button or Enter</li>
                    <li>Press Next or Enter</li>
                    <li>Repeat until all Pokémon are correct or until 3 incorrect answers</li>
                </span> 
            </ol>
        <br>
        <table class="myTable" id="table">
            <tr class="pokeBox">
                <td colspan=8>
                    <br>
                    <br>
                    <br>
                    <span id="imageBox"><img class="myIMG" src="../../static/assets/whosthatpokemon/pokeball.png"></span>
                    <br>
                    <br>
                    <br>
                    <span id="gameInfo"><br><br><br></span>
                </td>
            </tr>
            <tr>
                <td colspan=8 id="inputRow"><br></td>
            </tr>
            <tr>
                <td colspan=8 id="message"><br></td>
            </tr>
            <span class="buttonRowStyle">
                <tr id="rowButtons">  
                    <td colspan=8><button class="myButton" onclick="gameStart()">CLICK TO START</button></td>
                </tr>
            </span>
        </table>
        <br>
        <br>
        <span style="color:rgb(255, 255, 0)">
            <h3 style="color:rgb(0, 149, 255)">Global Game Data:</h3>
            <ul>
                <li id="apiCorrect">Total Correct Answers:</li>
                <li id="apiIncorrect">Total Incorrect Answers:</li>
                <li id="apiGamesPlayed">Total Games Played:</li>
                <li id="apiGamesWon">Total Games Won:</li>
                <li id="apiWinrate">Average Win Rate:</li>
            </ul>
        </span>
    </div>
    <br>
    </body>
<script>
    // Pokemon variables
    var pokeMin = ""
    var pokeMax = ""
    var pokeName = ""
    var pokeIMG = ""
    var pokeFilteredName = ""
    const gen = ""

    // Game variables
    var randId = 0
    var correct = 0
    var incorrect = 0
    const strikes = 3 // how many user is allowed to get incorrect before losing
    var pokeChecked = ""

    // const url = "https://swag.nighthawkcodingteams.cf/api/tester" // WEB
    const url = "http://127.0.0.1:5000/api/tester" // LOCAL


    const options = {
      method: 'GET',
    }
    
    var usedIds = []
    const genList = [
        {
            "generation":1,
            "min":1,
            "max":151
        },
        {
            "generation":2,
            "min":152,
            "max":251
        },
        {
            "generation":3,
            "min":252,
            "max":386
        },
        {
            "generation":4,
            "min":387,
            "max":493
        },
        {
            "generation":5,
            "min":494,
            "max":649
        },
        {
            "generation":6,
            "min":650,
            "max":721
        },
        {
            "generation":7,
            "min":722,
            "max":809
        },
        {
            "generation":8,
            "min":810,
            "max":905
        }
    ]

    const pokeUnfiltered = [
        "nidoran-f",
        "nidoran-m",
        "deoxsys-normal",
        "wormadam-plant",
        "porygon-z",
        "giratina-altered",
        "shaymin-land",
        "basculin-red-striped",
        "darmanitan-standard",
        "tornadus-incarnate",
        "thundurus-incarnate",
        "landorus-incarnate",
        "meloetta-aria",
        "meowstic-male",
        "aegislash-shield",
        "pumpkaboo-average",
        "gourgeist-average",
        "zygarde-50",
        "oricorio-baile",
        "lycanroc-midday",
        "wishiwashi-solo",
        "type-null",
        "minior-red-meteor",
        "mimikyu-disguised",
        "toxtricity-amped",
        "eiscue-ice",
        "indeedee-male",
        "morpeko-full-belly",
        "urshifu-single-strike",
        "mr-mime",
        "farfetchd"
    ]
    
    const pokeFiltered = [
        "nidoran",
        "nidoran",
        "deoxsys",
        "wormadam",
        "porygon-Z",
        "giratina",
        "shaymin",
        "basculin",
        "darmanitan",
        "tornadus",
        "thundurus",
        "landorus",
        "meloetta",
        "meowstic",
        "aegislash",
        "pumpkaboo",
        "gourgeist",
        "zygarde",
        "oricorio",
        "lycanroc",
        "wishiwashi",
        "type: Null",
        "minior",
        "mimikyu",
        "toxtricity",
        "eiscue",
        "indeedee",
        "morpeko",
        "urshifu",
        "mr. mime",
        "farfetch'd"
    ]

    function apiShowData() {
        fetch(url, {
            method: 'GET',
        }).then(response => {response.json().then(data => {
            var apiCorrect = data.wtp.totalCorrect
            document.getElementById('apiCorrect').innerHTML = data.wtp.totalCorrect
        })})

        fetch(url, {
            method: 'GET',
        }).then(response => {response.json().then(data => {
            var apiCorrect = data.wtp.totalCorrect
            document.getElementById('apiIncorrect').innerHTML = data.wtp.totalIncorrect
        })})

        fetch(url, {
            method: 'GET',
        }).then(response => {response.json().then(data => {
            var apiCorrect = data.wtp.totalCorrect
            document.getElementById('apiGamesPlayed').innerHTML = data.wtp.gamesPlayed
        })})

        fetch(url, {
            method: 'GET',
        }).then(response => {response.json().then(data => {
            var apiCorrect = data.wtp.totalCorrect
            document.getElementById('apiGamesWon').innerHTML = data.wtp.gamesWon
        })})
    }

    function apiAddCorrect(i) {
        while (i > 0){
                fetch(url+"/correct", {
                method: 'PUT',
            }).then(response => {response.json().then(data => {document.getElementById("apiCorrect").innerHTML = data.totalCorrect})})
        i -= 1
        }
    }

    function apiAddIncorrect(i) {
        while (i > 0){
            fetch(url+"/incorrect", {
            method: 'PUT',
        }).then(response => {response.json().then(data => {document.getElementById("apiIncorrect").innerHTML = data.totalIncorrect})})
    i -= 1
    }
}

    function apiAddGamePlayed() {
        fetch(url+"/gamePlayed", {
            method: 'PUT',
          }).then(response => {response.json().then(data => {document.getElementById("apiGamesPlayed").innerHTML = data.gamesPlayed})})
    }

    function apiAddGameWon() {
        fetch(url+"/gameWon", {
            method: 'PUT',
          }).then(response => {response.json().then(data => {document.getElementById("apiGamesWon").innerHTML = data.gamesWon})})
    }

    function apiUpdate(gameResult) {
        if (gameResult === 1) {
        apiAddGameWon()
        }

        apiAddCorrect(correct)
        apiAddIncorrect(incorrect)
        apiAddGamePlayed()

        document.getElementById('apiWinrate').innerHTML = 100*(document.getElementById('apiGamesWon') / document.getElementById('apiGamesPlayed')) + "%"
    }

    function gameStart() {
        apiShowData()
        document.getElementById('rowButtons').innerHTML = ""
        document.getElementById('message').innerHTML = "Choose a generation"

        for (i in genList) {
            document.getElementById('rowButtons').innerHTML += '\
            <td><button type="button" class="myButton" onclick="genSelect(' + i + ')">Gen' + genList[i]["generation"] + '</button></td> \
            '
        }
    }

    function genSelect(gen) {
        if (gen == 7) {
            document.getElementById('message').innerHTML = "Generation 8 is not currently fully supported by PokéAPI. Please choose another generation"
        }
        else {
        pokeMin = genList[gen]["min"]
        pokeMax = genList[gen]["max"]
        genSelected()
        }
    }

    function enterEvent() {
        if (incorrect != 3) {
            if (pokeChecked == true) {
                nextPokemon()
            }
            else {
                pokeCheck()
            }
        }
        else {
            location.reload()
        }
    }

    function genSelected() {
        document.getElementById('rowButtons').innerHTML = ' \
        <td colspan=4><button type="button" class="myButton" onclick="location.reload()">Restart</button></td> \
        <td colspan=4><button type="button" class="myButton" onclick="enterEvent()" id="continueButton">Submit</button></td> \
        '

        document.getElementById('inputRow').innerHTML = '<input type="text" id="inputBox" style="width:100%">'

        var inputBox = document.getElementById('inputBox')

        inputBox.addEventListener("keypress", function() {
            if (event.key === "Enter") {
                event.preventDefault
                enterEvent()
            }
        })

        document.getElementById('message').innerHTML = "<br>"

        document.getElementById('gameInfo').innerHTML = '\
        <body> \
            Pokémon: <b id="displayedName">???</b>\
            <br> \
            Correct: <b id="displayedCorrect">0/' + (pokeMax - pokeMin + 1) + '</b>\
            <br>\
            Incorrect: <b id="displayedIncorrect">0/' + strikes + '</b> \
        </body> \
        '

        getPokemon(pokeMin, pokeMax)
    }

    function getRandId(min, max) {
        randId = Math.floor(Math.random() * (max - min) + min)

        while (usedIds.includes(randId) == true | randId == 0) {
            randId = Math.floor(Math.random() * (max - min) + min)
        }
        
        return randId
    }

    function getPokemon(pokeMin, pokeMax) {
        fetch('https://pokeapi.co/api/v2/pokemon/' + getRandId(pokeMin, pokeMax), options)
        .then(response => response.json().then(data => {
        pokeName = data.name
        pokeID = data.id
        pokeIMG = data.sprites.front_default

        document.getElementById('imageBox').innerHTML = '<img class="myIMG" src="' + pokeIMG + '">'
        document.getElementById('displayedName').innerHTML = '???'

        if (pokeUnfiltered.includes(pokeName) == true) {
            pokeFilteredName = pokeFiltered[pokeUnfiltered.indexOf(pokeName)]
        }
        else {
            pokeFilteredName = pokeName
        }
        }))
    }

    function pokeCheck(pokeGuess) {
        var pokeGuess = document.getElementById("inputBox").value
        var input = pokeGuess.toLowerCase()

        if (pokeGuess !== "") {
            while (pokeChecked == false) {
                if (input == pokeFilteredName) {
                    if (correct < (pokeMax - pokeMin)) {
                    correct += 1
                    document.getElementById('message').innerHTML = pokeGuess + " is correct!"
                    usedIds.push(randId)
                    document.getElementById('continueButton').innerHTML = "Next"
                    }
                    else {
                    correct += 1
                    document.getElementById('message').innerHTML = pokeGuess + " is correct! You win!"
                    document.getElementById('rowButtons').innerHTML = ' \
                    <td colspan=8><button type="button" class="myButton" onclick="location.reload()">Restart</button></td> \
                    '
                    apiUpdate(1)
                    }
                }
                else {
                    if (incorrect < (strikes - 1)) {
                        incorrect += 1
                        document.getElementById('message').innerHTML = pokeGuess + " is incorrect!"
                        document.getElementById('continueButton').innerHTML = "Next"
                    }
                    else {
                        incorrect += 1
                        document.getElementById('message').innerHTML = pokeGuess + " is incorrect! You lose!"
                        document.getElementById('rowButtons').innerHTML = '<td colspan=8><button type="button" class="myButton" onclick="location.reload()">Restart</button></td>'
                        apiUpdate(0)
                    }             
                }
                document.getElementById('displayedCorrect').innerHTML = correct + "/" + (pokeMax - pokeMin + 1)
                document.getElementById('displayedIncorrect').innerHTML = incorrect + "/" + strikes
                document.getElementById('displayedName').innerHTML = pokeFilteredName.charAt(0).toUpperCase() + pokeFilteredName.slice(1)

                pokeChecked = true
            }
        }
        else {
            document.getElementById('message').innerHTML = "Please guess something in the box above and press submit or enter"
        }
    }

    function nextPokemon() {
        if (pokeChecked == true) {
            getPokemon(pokeMin, pokeMax)
            document.getElementById('message').innerHTML = "<br>"
            document.getElementById('inputBox').value = ""
            document.getElementById('continueButton').innerHTML = "Submit"
            pokeChecked = false
        }
        else (
            document.getElementById('message').innerHTML = "Please guess something in the box above and press submit or enter"
        )
    }
</script>
</html>